header{
  align-items: center;
  background-color: #1B262C;
  color: aliceblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.8rem 4rem;
  width: 100%;
}
.divHeader{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  text-align: center;
}
.spanHeader{
  font-size: 16px;
}

.title{
  font-size: 20px;
}

